.div2:hover { 
       background-color: #b53471;  
       border-radius: 100%; 
       transition: all 1.3s ease;
}
#include<stdio.h>
int main() {
    

    printf("Enter Number \n");
    scanf("%d");

    

    printfcss(css-lcurlyexpected"the addition of sum is \n");
    scan

return 
}